
    .hedfrm
    {
      background-color: #f2b90c;
      color: #000;
      padding: 15px;
      text-align: center;      
    }
    .hedfrm h3
    {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      line-height: 24px;
          color: #000;
    }
    .frm_prt
    {
      padding: 20px;
      background-color: #fff;
    }
    .frm_prt .form-control
    {
      height: 40px;
      background-color: #e9ebf2;
      color: #000;
      font-weight: 600;
      border-radius: 0px;
      font-size: 15px;
    letter-spacing: 1px;
    }
    .frm_prt textarea
    {
      height: auto !important;
    }
    .frm_prt button
    {
      border: none;
      background-color: #f2b90c;
      color: #000;
      width: 100%;
      padding: 11px;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      border:2px solid #f2b90c;
    }
    .in_proprt
    {
      padding: 50px;
      text-align: center;
      background-color: #fff;
    }
    .imgprof
    {
      width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #ddd;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 25px;
    }
    .imgprof img
    {
      width: 100%;
    }
    .in_proprt h3
    {
      font-weight: 600;
    font-size: 30px;
    margin-bottom: 13px;
    margin-top: 20px;
    }
    .in_proprt h5
    {
          font-weight: 600;
    font-size: 15px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
    }
    .in_proprt p
    {
      font-size: 22px;
    line-height: 28px;
    margin-top: 25px;
    }
    .soc_ul li
    {
      list-style: none;
      display: inline-block;
      margin-right: 28px;
    }
    .soc_ul li:last-child
    {
      margin-right: 0px;
    }
    .soc_ul
    {
      margin-top: 25px;
    }
    .soc_ul li i
    {
      font-size: 24px;
    }
    .soc_ul .fa-facebook-official
    {
      color: #3b5998;
    }
    .soc_ul .fa-instagram
    {
      color: #c13584;
    }
    .soc_ul .fa-linkedin
    {
      color: #0077b5;
    }
    .soc_ul .fa-twitter
    {
      color: #21a1f1;
    }
    .soc_ul .fa-youtube-play
    {
      color: #ff0000;
    }
    .btn_gethelp
    {
      border: none;
    background-color: #f2b90c;
    color: #000;
    padding: 20px 100px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    border:2px solid #f2b90c;
    }
    .btn_gethelp:hover
    {
      background-color: #fff;
      color: #f2b90c;
    }
    .frm_prt button:hover
    {
      background-color: #fff;
      color: #f2b90c;
    }



    @media(min-width: 320px) and (max-width: 767px)
    {
      .in_proprt {
    padding: 15px;
}
.soc_ul li {
    margin-right: 21px;
}
.btn_gethelp {
    padding: 20px 0px;
    width: 100%;
}

    }