.dale-rose{font-weight:700px !important;color:#005153 !important;}
.new-width{max-width:90%;margin:0px auto;}
a:hover{text-decoration:none !important;}
.new-text{font-family:"Montserrat", sans-serif;font-size:1.4rem;font-weight:600;color:#005153;text-transform:uppercase;text-align:center;margin-bottom:25px;}
.note-one{font-size:1.4rem;font-family:"Montserrat", sans-serif;font-weight:600;text-transform:uppercase;line-height:1.3;font-variant-numeric:lining-nums;margin-bottom:30px;margin-top:0px;}
.one{color:#005153;}
.new-new-text{margin-top:30px;margin-bottom:40px;}
.firm{font-size:5.5rem;}
@media (min-width:1280px){h1.firm{font-size:5.5rem;}
}
.split-text{font-size:34px;color:#005153;-webkit-font-smoothing:antialiased;line-height:5rem;display:block;position:relative;}
.split-text:hover{color:#005153;text-decoration:none;}
#header a.branding img{height:auto !important;width:235px;position:relative;bottom:0px;left:55px;}
@media (max-width:767px){#header .slide-in-menu .btm-links{}
}
@media (max-width:420px){#header .slide-in-menu .secondary-menu{padding-top:107px !important;}
}
@media (max-width:420px){#header .slide-in-menu .btm-links{}
#header a.branding img{height:auto !important;width:235px;position:relative;bottom:20px;left:55px;}
}
@media (min-width:480px) and (max-width:854px){#header a.branding img{height:auto !important;width:235px;position:relative;bottom:20px;left:55px;}
.split-text{font-size:35px;color:#005153;padding:40px;line-height:4.6rem;}
}
@media (max-width:767px){#header.dark-xs{background-color:#F2B90C;}
}
@media only screen and (max-width:768px) and (min-width:1024px){#header a.branding img{height:auto !important;width:235px !important;position:relative;bottom:20px;left:31px !important;}
}
@media (max-width:854px) and (min-width:600px){.split-text{font-size:35px;color:#005153;padding:2px;line-height:4.6rem;}
#header a.branding img{height:auto !important;width:188px !important;position:relative;top:0;left:108px !important;}
}
@media (min-width:320px) and (max-width:480px){.firm{font-size:3.5rem !important;}
#header a.branding img{height:auto !important;width:235px;position:relative;bottom:15px;left:55px;}
#header .lft-nav-trigger{width:18px;height:16px;bottom:-7px;position:relative;display:inline-block;vertical-align:middle;margin-right:10px;cursor:pointer;z-index:1;}
.split-text{font-size:20px !important;line-height:3.5rem !important;}
}
@media only screen and (max-width:600px){#footer .footer-btm .contact-no{margin-bottom:15px;display:inline-block;display:block !important;font-size:2.5rem;}
#footer{height:90vh !important;position:relative;overflow:hidden;z-index:1;background-size:cover;background-repeat:no-repeat;}
}